<!-- ── DOCUMENTS ── -->
 <div class="panel {% if active_panel == 'documents' %}active{% endif %}" id="panel-documents">
  <div style="display:flex;align-items:center;justify-content:space-between;margin-bottom:16px">
        
    <div style="font-size:13px;color:var(--text2)">
      {{ documents.count }} documents · filtrés par date
    </div>

    <button class="btn btn-primary" onclick="openModal('add-doc')">
      <svg viewBox="0 0 24 24" fill="currentColor"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
          Nouveau document
    </button>
    
  </div>


  <div class="card">

    <div class="card-body">

      <table>
        <thead>
          <tr>
            <th>Référence</th>
            <th>Statut</th>
            <th>Type</th>
            <th>Date création</th>
            <th>Date modification</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
              {% for doc in documents %}
              <tr>
                <td>{{ doc.titre }}</td>
                <td>{{ doc.statut }}</td>
                <td>{{ doc.type }}</td>
                <td>{{ doc.date_creation }}</td>
                <td>{{ doc.date_modification }}</td>
                <td>
                  <div class="actions">
                    <button class="btn btn-ghost btn-icon btn-sm">👁</button>
                    <button class="btn btn-ghost btn-icon btn-sm">✎</button> 
                    <!-- Pas de suppression si on ne vérifie pas que ce client n'a pas de dossier !! -->
                    <button class="btn btn-danger btn-icon btn-sm">✕</button>
                  </div>
                </td>                
              </tr>
              {% endfor %}
        </tbody>
          </table>
        </div>
      </div>
    </div>
