{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SANAD Opérateur</title>
  <!-- <link rel="stylesheet" href="{% static 'css/dossier.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/dossier_select.css' %}">
  <link rel="stylesheet" href="{% static 'css/stylePanelNvDossier.css' %}">
</head>
<body>

<div class="shell">
  {% include 'dashboards/operateur/partials/sidebar.html' %}
  <div class="main">
    {% include 'dashboards/operateur/partials/topbar.html' %}
    <div class="content">

      {% if messages %}
        <div class="messages">
          {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}

      {% include 'dashboards/operateur/panels/panelDashboard.html' %}
      {% include 'dashboards/operateur/panels/panelUser.html' %}
      {% include 'dashboards/operateur/panels/panelNvDoc.html' %}
      {% include 'dashboards/operateur/panels/panelNvDossier.html' %}
      {% include 'dashboards/operateur/panels/panelClient.html' %}
      {% include 'dashboards/operateur/panels/panelRecherche.html' %}
      {% include 'dashboards/operateur/panels/panelScan.html' %}
      {% include 'dashboards/operateur/panels/panelDocument.html' %}
      {% include 'dashboards/operateur/panels/panelLog.html' %}
      {% include 'dashboards/operateur/panels/panelParam.html' %}

    </div>
  </div>
</div>

<div class="overlay" id="overlay">
  {% include 'dashboards/operateur/modals/modalUser.html' %}
  {% include 'dashboards/operateur/modals/modalClient.html' %}
  {% include 'dashboards/operateur/modals/modalDoc.html' %}
  {% include 'dashboards/operateur/modals/modalDossier.html' %}
</div>

<script src="{% static 'js/files.js' %}"></script>
<script src="{% static 'js/planScan.js' %}"></script>
<script src="{% static 'js/dossier-detail.js' %}"></script>
<script src="{% static 'js/client-detail.js' %}"></script>
<script src="{% static 'js/dossier_select.js' %}"></script>
<script src="{% static 'js/nouveau_dossier.js' %}"></script>


{% if open_modal %}
<script>
  document.addEventListener('DOMContentLoaded', () => openModal('{{ open_modal }}'));
</script>
{% endif %}

</body>
</html>