.modal{
    display: none;
    max-width: 600px;
}

.select-type{
    display: flex;
    gap: 8px;
    margin-bottom: 18px;
}

.select-type .button{
    flex: 1;
}

.common-field {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: var(--text3);
    margin-bottom: 10px;
    font-weight: 500;
}

.form-grid{
    margin-bottom: 16px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}